@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');
*{
    padding: 0%;
    margin: 0%;
    color: rgb(255, 255, 255);
    font-family: "Poppins", sans-serif;
    overflow-y: hidden;
}
.video{
    position: absolute;
    bottom: 0;
    right: 0%;
    min-width: 100%;
    min-height: 100%;
    z-index: -2;
}
form{
    width: 100%;
}
form input,textarea{
  width: 330px;
  border: 0;
  outline: none;
  background: white;
  padding: 18px;
  margin: 20px ;
  color: #000000;
  font-size: 18px;
  border-radius: 6px;
}
form .submit{
    color: rgb(0, 0, 0);
    border: 0;
    padding: 14px 60px;
    font-size: 20px;
    margin-top: 5px;
    margin-left: 110px;
    cursor: pointer;
    outline: none;
    background: white;
    border-radius: 7px;
}
.Contact{
    padding: 200px;
    padding-left: 750px;
}
#send{
    font-size: 20px;
    color: #02801dbb;
    font-weight: 1000;
    margin: 19px;
}
.social-media{
    margin-left: 140px;
    width: px;
}
.social-media a{
    color: black;
    margin-left: 16px;
    display: inline-block;
    transition: transform 0.5s;
    margin-bottom: 7px;
}
.social-media a:hover{
    transform: translateY(-5px);
}
.Home
{
    text-decoration: none;
    font-size: larger;
    font-weight: 1000;
    color: #000000;
    padding: 14px 170px; 
}
@media screen and (max-width:600px) {
  .video{
    overflow: hidden;
    position: fixed;
  }
    form{
        padding-top: 90px;
        margin-left: 170px;
    width: 330px;
}
form input,textarea{
    
  width:230px;
  padding: 8px;
  padding-top: 10px;
  margin: 3px ;
  margin-top: 5px;
  font-size: 15px;
}
.Contact{
    padding: 4px;
    padding-left: 10px;
}
#send{
    color: red;
    font-size: 15px;
}
form .submit{
    padding: 5px 15px;
    font-size: 15px;
    margin-top: 8px;
    margin-left: 85px;
}
.social-media{
    margin-left: 60px;
}
.Home
{
    font-size: larger;
    font-weight: 1000;
    color: #000000;
    padding: 8px 91px; 
}
}
@media screen and (max-width:425px) {
    .video{
      overflow: hidden;
      position: fixed;
    }
      form{
          padding-top: 90px;
          margin-left: 80px;
      width: 330px;
  }
  form input,textarea{
      
    width:230px;
    padding: 8px;
    padding-top: 10px;
    margin: 3px ;
    margin-top: 5px;
    font-size: 15px;
  }
  .Contact{
      padding: 4px;
      padding-left: 10px;
  }
  #send{
      color: red;
      font-size: 15px;
  }
  form .submit{
      padding: 5px 15px;
      font-size: 15px;
      margin-top: 8px;
      margin-left: 85px;
  }
  .social-media{
      margin-left: 60px;
  }
  .Home
  {
      font-size: larger;
      font-weight: 1000;
      color: #000000;
      padding: 8px 91px; 
  }
  }
  @media screen and (max-width:375px) {
    .video{
      overflow: hidden;
      position: fixed;
    }
      form{
          padding-top: 90px;
          margin-left: 50px;
      width: 270px;
  }
  form input,textarea{
      
    width:230px;
    padding: 8px;
    padding-top: 10px;
    margin: 3px ;
    margin-top: 5px;
    font-size: 15px;
  }
  .Contact{
      padding: 4px;
      padding-left: 10px;
  }
  #send{
      color: red;
      font-size: 15px;
  }
  form .submit{
      padding: 5px 15px;
      font-size: 15px;
      margin-top: 8px;
      margin-left: 85px;
  }
  .social-media{
      margin-left: 60px;
  }
  .Home
  {
      font-size: larger;
      font-weight: 1000;
      color: #000000;
      padding: 8px 91px; 
  }
  }
  @media screen and (max-width:320px) {
    .video{
      overflow: hidden;
      position: fixed;
    }
      form{
          padding-top: 90px;
          margin-left: 25px;
      width: 251px;
  }
  form input,textarea{
      
    width:230px;
    padding: 8px;
    padding-top: 10px;
    margin: 3px ;
    margin-top: 5px;
    font-size: 15px;
  }
  .Contact{
      padding: 4px;
      padding-left: 10px;
  }
  #send{
      color: red;
      font-size: 13px;
  }
  form .submit{
      padding: 5px 15px;
      font-size: 15px;
      margin-top: 8px;
      margin-left: 85px;
  }
  .social-media{
      margin-left: 60px;
  }
  .Home
  {
      font-size: larger;
      font-weight: 1000;
      color: #000000;
      padding: 8px 91px; 
  }
  }